@charset "utf-8";
/* CSS Document */

/*--------------------Generate by Shivam Aka Da-Mysterious       \\(-_-)//  ---------*/

body, h1,h3,h4,h5,h6,p ,hr{
	margin:0 auto;
	padding:0;
}

body{
	background:#333;
	background-image:url(images/bg.png);
	} 

/*--Body Container  --*/

.container{
	width:1024px;
	background-color:#ece9d8;
	 
	}
	.container2{
		margin-top:"";
		overflow: auto;
		background-image:url(images/container_bg.png) ;
	background-repeat:no-repeat;
		
	
	
	/*	background:url(images/bg.png);*/
	}
	

/*--------Logo-------*/
.header{
	height:306px;
	width:1024px;
	
	}
.headerforUserHome{
	
	height:200px;
	width:1024px;
	background-image:url(images/headr.png);
	background-repeat:no-repeat;
	}



	.headerSlide{
		width:1024px;
		height:306px;
		float:left;
	
	}
	
	


/*--Navigation bar --- */
.navgation{
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	height:42px;
	background-image:url(images/Untitled-3_03.png);
	
}

.lout{
	text-align:right;
	color:#333;
	margin-left:390px;
	
	text-decoration:none;
}
.lout:hover{
	text-align:right;
	text-decoration:underline;
	color: #FFF;
	
	
	}


.left
{
	float: left;
	width:200px;
	height:auto;
	font-size:14px;
	/*border-bottom: solid 1px #f5841f;*/
}
.right{
	border-left: solid  1px #f5841f;
	float:right;
	width:820px;
	height:auto;
	text-align:left;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	overflow:hidden;
	
	
	
}
/*Right LeftContainer About Style*/

.rightContainer{
	width:820px;
	height:auto;
	}
	
#rightLeft{
	float:left;
	width:480px;
	height:194px;
	background-color: #FFF;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:1em;
	color:#333;
	font-weight: 400;
	margin-left:5px;
	padding-bottom:9px;
	}
	
	#rightLeft a:{
		text-decoration:none;
		color:#333;
		
	}
	#rightLeft a:hover{
		color:#f5841f;
		text-decoration:none;
	}
		
/*rightRight LoginContainer Style*/

#rightRight{
	float:left;
	width:300px;
	margin-left:20px;
	height:200px;
	background-image: url(images/login_bg.png);
	background-repeat: repeat-x; 
	border-radius:20px;
	
	
}
/*PhotoPannel*/
.pnlPic{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:18px;
	width:300px;
	height:auto;
	
}
.pnlstatus{
	float:left;
	width:180px;
	margin-left:9px;
	text-align:left;
}
.pnlpicContainer{
	float:right;
	margin-top:4px;
	margin-right:9px;
	background-image:url(image/defaultImage1.jpg);
	background-repeat:no-repeat;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	box-shadow:#000 1px 3px 2px;

	
}
	
.picStyle{
	width:80px;
	height:80px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	box-shadow:#000 1px 3px 2px;

}
	

/*--------------Span for Memerlogin text Alignment----*/ 
#align{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	font-weight:bold;
	font-size:22px;
	padding-top:8px;
}
/*----------------------------Login Button Style-----*/
 .loginButton{
	width:250px;
	border:thick;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:1em;
	color:#333;
	background-color: #f6953e;
	box-shadow:#000 1px 3px 2px;
	line-height:20px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	
}
.loginButton:hover{
	width:250px;
	border:thick;
	background-color:#f5841f;
	box-shadow:#000 1px 3px 2px  ;
	line-height:20px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	
}

#rightLeftSlider {
	float:left;
	width:350px;
	height:400px;
	background-image:url(images/event_bg.png);
	background-repeat:repeat-x;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	margin-top:10px;
	margin-left:8px;
	
}

 #rightRightEvents{
	 float:left;
	 width:350px;
	height:400px;
	background-image:url(images/event_bg.png);
	background-repeat:repeat-x;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	margin-top:10px;
	margin-left:50px;
 }

	.form{
		width:800px;
		height:auto;
	}
.tabl{
	margin-left:20px;
	width:100%;
}
/*-----Text Box Style---------*/
.TextBox{
	padding-left:5px;
	height:40px;
	border:thick;
	width:308px;
	font-size:20px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;

	
}
.TextBox:hover{
	border-color:#f5841f;
	background-color:#f6953e;
	border:solid 1px;
	
	}
.F_L_name{
	padding-left:5px;
	height:40px;
	border:thick;
	width:150px;
	font-size:20px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background:"";
	
}
.F_L_name:hover{
	border-color:#f5841f;
	background-color:#f6953e;
	border:solid 1px;}
	
.DOB{
	font-size:20px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	height:40px;
	border:thick;
	width:100px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background:"";
	
}
.DOB:hover{
	border-color:#f5841f;
	background-color:#f6953e;
	border:solid 1px;}
.DOB1{
	font-size:20px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	height:40px;
	border:thick;
	width:104px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background:"";
	
}
.DOB1:hover{
	border-color:#f5841f;
	background-color:#f6953e;
	border:solid 1px;}
	
.Btn{
	width:154px;
	border:thick;
	height:40px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#333;
	background-color: #f6953e;
	box-shadow:#000 1px 3px 2px;
	line-height:20px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;

}
.Btn:hover{
	background-color:#f5841f;
}
/*---------Button Small---*/

.Btn1{
	/*
	border:thick;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#333;*/
	width:50px;
	text-align:right;
	background-image:url(images/edit.png);
	background-repeat:no-repeat;
	background-position:left;
	/*box-shadow:#000 1px 3px 2px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	cursor:pointer;*/
	
	}
.profilebtn{
	
	border:thick;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	background-color: #f6953e;
	box-shadow:#000 1px 3px 2px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	cursor:pointer;
	margin-top:4px;
	margin-left:18px;
	}
		
	.profilebtn:hover{
	background-color:#f5841f;
	color:#fff;
}
.ChanePx{
	margin-top:-30px;
	border:thick;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#333;
	background-color: #f6953e;
	box-shadow:#000 1px 3px 2px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	cursor:pointer;
	margin-left:10px;
	
	}
		
	.ChanePx:hover{
	background-color:#f5841f;
	color:#fff;
}
	.upload{
		margin-top:-60px;
		margin-left:40px;
		background-color: #f6953e;
	box-shadow:#000 1px 3px 2px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	cursor:pointer;
	}
	.choose{
		
		
		
		
	}
	.choose:hover{
			}

.lbl{
	font-size:20px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
.sex{
	font-size:20px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	height:40px;
	border:thick;
	width:313px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	
}
.sex:hover{
	border-color:#f5841f;
	background-color:#f6953e;
	border:solid 1px;}
.pass{
	line-height:20px;
	margin-top:2px;
	border:thick;
	width:250px;
	background:#f1f1f1;
	background-image:url(images/pass_field.png);
	background-repeat:no-repeat;
	background-position:right;
	
	
}
.retr_pss{
	line-height:3px;
}

.mail{
	line-height:20px;
	border:thick;

	width:250px;
	background:#f1f1f1;
	background-image:url(images/login_field.png);
	background-repeat:no-repeat;
	background-position:right;
	
	
}
/*-------Normal link As a button view----*/
#textLink{
	width:250px;
	line-height:22px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	background-color: #f6953e;
	box-shadow:#000 1px 3px 2px  ;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:1em;
	color:#333;
	margin-top:9px;
	
	
	}
	#textLink a
	{
		text-decoration:none;
		color:#333;
}
#textLink a:hover
	{
		color:#FFF;
}
/*--------Footer-------*/

.footer{
	
		text-align:center;
		color: #999;
		font-family:Verdana, Geneva, sans-serif;
		font-size:0.7em;
		font-weight:bold;
		border-radius:2px;
		height:30px;
		
		background-image:url(images/Untitled-3_07.png);
		
	
	
	}
	#footertext{
		padding-top:6px;
	}

/*--------ImpLinkx-------*/
.impLinks{
	clear:both;
	height:135px;
	background-image: url(images/bg.png);
		
}
.implinksContainer{
	padding-top:15px;
	width:1024px;
	height:auto;
	/*alignment-adjust:middle;*/
}

/*---------------IMpLinkscol1--------------*/
#col1{
	
	font-size:0.8em;
	line-height:30px;
	font-weight: lighter;
	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	list-style-type:none;
	float:left;
	width:220px;
	border
	}
	

/*---------------Hover Over a Link col2--------------*/
#col1 a{
	color:#999999;
	text-decoration:none;
	
	}
	
	#col1 a:hover{
	color:#f5841f;
	text-decoration:none;
}
	
/*---------------IMpLinkscol2--------------*/

#col2{
	line-height:30px;
	font-size:0.8em;
	font-weight: lighter;
	/*height:300px;
	position:inherit;*/
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	list-style-type:none;
	float:right;
	width:220px;

}
/*---------------Hover Over a Link col2--------------*/
#col2 a{
	color:#999999;
	text-decoration:none;
	
	}
	
	#col2 a:hover{
		color:#f5841f;
	text-decoration:none;
}
	
/*---------------IMpLinkscol3--------------*/
#col3{
	line-height:30px;
	font-size:0.8em;
	font-weight: lighter;
/*	height:300px;
	position:inherit;*/
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	list-style-type:none;
	float:right;
	width:220px;
	
}

/*---------------Hover Over a Link col3--------------*/

#col3 a{
	color:#999999;
	text-decoration:none;
	
	}
	
	#col3 a:hover{
	color:#f5841f;
	text-decoration:none;
}

/*---------------IMpLinkscol4--------------*/
#col4{
	line-height:30px;
	font-size:0.8em;
	font-weight: lighter;
	/*height:300px;
	position:inherit;*/
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	list-style-type:none;
	float:right;
	width:220px;
	
}

/*---------------Hover Over a Link col4--------------*/

#col4 a{
	color:#999999;
	text-decoration:none;
	
	}
	
	#col4 a:hover{
	color:#f5841f;
	text-decoration:none;
}


h1,h2,h3,h4,h5,h6{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:bold;
	color: #333;}
	
	
.imgLoader{
	width:auto;
	height:auto;
}
#leftnav{
	
	width:195px;
	height:170px;
	background-color:#f5841f;
	border-radius:5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	
	box-shadow:#000 1px 3px 4px  ;
	
	

}
#leftnav li,#leftnav li a{
	text-decoration:none;
	list-style:none;
	line-height:30px;
	color:#333;
}

#leftnav li a:hover{
	color:#FFFFFF;
	text-decoration:none;
	
}
hr{
	height:0.5px;
}
.UpcomingEventx{
	height:auto;
	width:320px;
	background:#FFC;
	/*border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;*/
	border-bottom:1px  dotted;
	border-color: #999;
	margin-left:10px;
	margin-top:5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
span a
{
	text-decoration:none;
	color:#333;

}
span a:hover
{
	text-decoration:none;
	color:#f5841f;
}
	/*---uSERpROFILE---*/
	
	.PrsonalInfoContainer{
	float:left;
	width:500px;
	height:162px;
	border:#f5841f solid 1px;
	}
	
	.Prsnl_inner{
	float:left;
	width:300px;
	height:auto;
	
	}
	.socialField{
		margin-left:20px;
		width:280px;
		height:30px;
		background-color:#f5841f;
		
		
	}
	.profilepic{
		width:160px;
		height:160px;
		border-radius:5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:#000 1px 3px 4px  ;
	}
	.Prsnl_inner_pic{
	
	float:right;
	border:#000 solid 1px;
	width:160px;
	background-image:url(images/profile_pic_default.png);
	background-repeat:no-repeat;
	height:160px;
	/*background-position: center;
	background-position:top;*/
	border-radius:5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:#000 1px 3px 4px  ;
	}

	.notification{
		float:right;
		width:300px;
	}

#gallery_activity
        {
            background-color: #444;
            padding: 10px;
            width: 520px;
        }
        #gallery_activity ul
        {
            list-style: none;
        }
        #gallery_activity ul li
        {
            display: inline;
        }
        #gallery_activity ul img
        {
            border: 5px solid #3e3e3e;
            border-width: 5px 5px 20px;
        }
        #gallery_activity ul a:hover img
        {
            border: 5px solid #fff;
            border-width: 5px 5px 20px;
            color: #fff;
        }
        #gallery_activity ul a:hover
        {
            color: #fff;
        }
